.genre_list li{
  list-style-type: none;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 40px;
  width: 350px;
  height: 500px;
  text-align: center;
  border-radius: 15px;
  display: inline;
  float: left;
  transition: 0.2s;
}

.genre_list li:hover{
    box-shadow: 3px 3px 4px 2px rgb(99, 99, 99);
    /* box-shadow: 0px 0px 0px 0px grey; */
}
.genre_list li:active{
    box-shadow: 0px 0px 0px 0px rgb(99, 99, 99);
    /* box-shadow: 0px 0px 0px 0px grey; */
}

.genre_list h2{
    color: black;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border: 0px solid rgb(12, 12, 12);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

#preload{
    display: none;
  }

#action_genre {
    background-image: url(images/john_wick.jpg);
    background-size: 350px 500px;
}

#horror_genre {
    background-image: url(images/hereditary.jpg);
    background-size: 350px 500px;
}

#drama_genre {
    background-image: url(images/godfather.jpg);
    background-size: 350px 500px;
}

#adventure_genre {
    background-image: url(images/rola.jpg);
    background-size: 350px 500px;
}

#fantasy_genre {
    background-image: url(images/lotr.jpg);
    background-size: 350px 500px;
}

#scifi_genre {
    background-image: url(images/prometheus.jpg);
    background-size: 350px 500px;
}

#hero_genre {
    background-image: url(images/endgame.jpg);
    background-size: 350px 500px;
}

#action_genre:hover{
    animation: action_slideshow 10s normal infinite;
    animation-play-state: running;
}

@keyframes action_slideshow{
    0%{
        background-image: url(images/john_wick.jpg);
    }
    20%{
        background-image: url(images/mad_max.jpg);
        background-size: 350px 500px;
    }
    40%{
        background-image: url(images/dunkirk.jpg);
        background-size: 350px 500px;
    }
    60%{
        background-image: url(images/rogue.jpg);
        background-size: 350px 500px;
    }
    80%{
        background-image: url(images/rpo.jpg);
        background-size: 350px 500px;
    }
    100%{
        background-image: url(images/john_wick.jpg);
    }
}

#horror_genre:hover{
    animation: horror_slideshow 10s normal infinite;
    animation-play-state: running;
}

@keyframes horror_slideshow{
    0%{
        background-image: url(images/hereditary.jpg);
    }
    20%{
        background-image: url(images/get_out.jpg);
        background-size: 350px 500px;
    }
    40%{
        background-image: url(images/alien.jpg);
        background-size: 350px 500px;
    }
    60%{
        background-image: url(images/babadook.jpg);
        background-size: 350px 500px;
    }
    80%{
        background-image: url(images/the_witch.jpg);
        background-size: 350px 500px;
    }
    100%{
        background-image: url(images/hereditary.jpg);
    }
}

#drama_genre:hover{
    animation: drama_slideshow 10s normal infinite;
    animation-play-state: running;
}

@keyframes drama_slideshow{
    0%{
        background-image: url(images/godfather.jpg);
    }
    20%{
        background-image: url(images/arrival.jpg);
        background-size: 350px 500px;
    }
    40%{
        background-image: url(images/pulp_fiction.jpg);
        background-size: 350px 500px;
    }
    60%{
        background-image: url(images/blackkklansman.jpg);
        background-size: 350px 500px;
    }
    80%{
        background-image: url(images/quiet_place.jpg);
        background-size: 350px 500px;
    }
    100%{
        background-image: url(images/godfather.jpg);
    }
}

#adventure_genre:hover{
    animation: adventure_slideshow 10s normal infinite;
    animation-play-state: running;
}

@keyframes adventure_slideshow{
    0%{
        background-image: url(images/rola.jpg);
    }
    20%{
        background-image: url(images/interstellar.jpg);
        background-size: 350px 500px;
    }
    40%{
        background-image: url(images/back_to_future.jpg);
        background-size: 350px 500px;
    }
    60%{
        background-image: url(images/jurassic_park.jpg);
        background-size: 350px 500px;
    }
    80%{
        background-image: url(images/martian.jpg);
        background-size: 350px 500px;
    }
    100%{
        background-image: url(images/rola.jpg);
    }
}

#fantasy_genre:hover{
    animation: fantasy_slideshow 10s normal infinite;
    animation-play-state: running;
}

@keyframes fantasy_slideshow{
    0%{
        background-image: url(images/lotr.jpg);
    }
    20%{
        background-image: url(images/star_wars.jpg);
        background-size: 350px 500px;
    }
    40%{
        background-image: url(images/harry_potter.jpg);
        background-size: 350px 500px;
    }
    60%{
        background-image: url(images/star_wars_3.jpg);
        background-size: 350px 500px;
    }
    80%{
        background-image: url(images/hobbit.jpg);
        background-size: 350px 500px;
    }
    100%{
        background-image: url(images/lotr.jpg);
    }
}

#scifi_genre:hover{
    animation: scifi_slideshow 10s normal infinite;
    animation-play-state: running;
}

@keyframes scifi_slideshow{
    0%{
        background-image: url(images/prometheus.jpg);
    }
    20%{
        background-image: url(images/primer.jpg);
        background-size: 350px 500px;
    }
    40%{
        background-image: url(images/gravity.jpg);
        background-size: 350px 500px;
    }
    60%{
        background-image: url(images/snowpiercer.jpg);
        background-size: 350px 500px;
    }
    80%{
        background-image: url(images/ldr.jpg);
        background-size: 350px 500px;
    }
    100%{
        background-image: url(images/prometheus.jpg);
    }
}

#hero_genre:hover{
    animation: superhero_slideshow 10s normal infinite;
    animation-play-state: running;
}

@keyframes superhero_slideshow{
    0%{
        background-image: url(images/endgame.jpg);
    }
    20%{
        background-image: url(images/black_panther.jpg);
        background-size: 350px 500px;
    }
    40%{
        background-image: url(images/logan.jpg);
        background-size: 350px 500px;
    }
    60%{
        background-image: url(images/deadpool.jpg);
        background-size: 350px 500px;
    }
    80%{
        background-image: url(images/gotg.jpg);
        background-size: 350px 500px;
    }
    100%{
        background-image: url(images/endgame.jpg);
    }
}
