.genre_list li{
  list-style-type: none;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 40px;
  width: 350px;
  height: 500px;
  text-align: center;
  border-radius: 15px;
  display: inline;
  float: left;
  transition: 0.3s;
}

.genre_list li:hover{
    box-shadow: 3px 3px 4px 2px rgb(99, 99, 99);
    /* box-shadow: 0px 0px 0px 0px grey; */
}

.genre_list h2{
    color: black;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border: 0px solid rgb(12, 12, 12);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px; 
}


#action_genre {
    background-color: red;
    /* animation: slideshow 4s normal infinite;
    animation-play-state: paused; */
}

#action_genre:hover{
    /* animation-play-state: running; */
}

/* @keyframes slideshow{
    0%{
        background-image: url(john_wick.jpg);
        background-repeat: no-repeat;
    }
    50%{
        background-image: url(rogue.jpg);
        background-repeat: no-repeat;
    }
    100%{
        background-image: url(john_wick.jpg);
        background-repeat: no-repeat;
    }
} */

#horror_genre {
    background-color: blue;
}

#drama_genre {
    background-color: green;
}

#documentary_genre {
    background-color: yellow;
}

