.movie-list{
  width: 100%;
  height: 100%;
}

.movie-list ul{
  padding: 0px;
  margin-top: 0px;
  margin-left: 200px; 
  margin-right: 200px;
}


.movie-list a{
  display: inline;
  float: left;
  text-decoration: none;
  list-style-type: none;
  color: black;
  width: 275px;
  height: 400px;
  margin: 30px;
  margin-bottom: 40px;

}

.movie-list li{
  height: 100%;
  width: 100%;
  background-color: red;
  border-radius: 25px;
  transition: 0.3s;
}

.movie-list li:hover{
  border-radius: 0px;
  box-shadow: 2px 2px 4px 0px rgb(99, 99, 99);
}

.movie-list li:active{
  box-shadow: 0px 0px 0px 0px rgb(99, 99, 99);
}

.movie-list h3{
  color: black;
  width: 100%;
  text-align: center;
  margin-top: 0%;
  padding-top: 420px;
}

#john-wick-movie{
  background-image: url(images/john_wick.jpg);
  background-size: 275px 400px;
}
#mad-max-movie{
  background-image: url(images/mad_max.jpg);
  background-size: 275px 400px;
}
#dunkirk-movie{
  background-image: url(images/dunkirk.jpg);
  background-size: 275px 400px;
}
#fred-movie{
  background-image: url(images/fred_movie.jpg);
  background-size: 275px 400px;
}
#rogue-movie{
  background-image: url(images/rogue.jpg);
  background-size: 275px 400px;
}
#train-to-busan-movie{
  background-image: url(images/train-to-busan.jpg);
  background-size: 275px 400px;
}
#saving-ryan-movie{
  background-image: url(images/saving-private-ryan.jpg);
  background-size: 275px 400px;
}