html{
  font-family: 'Baloo Bhai', cursive;
}

#front-page{
  text-align: center;
}

body{
  margin: 0px;
}

header{
  background: rgb(58,173,180);
  background: linear-gradient(90deg, rgba(58,173,180,1) 0%, rgba(214,78,255,1) 52%, rgba(255,177,67,1) 100%);
  margin: 0px;
}

.table{
  border: 10px;
  display: table;
}


.links li{
  margin-left: 20px;
  border: 0px solid blue;
  border-radius:15px;
  text-align: center;
  padding: 3px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline;
}

li:hover {
  background: rgb(131,58,180);
}

.links li a{
  color: black;
  padding: 3px;
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: none;
  text-decoration: none;
}
