html{
  font-family: 'Baloo Bhai', cursive;
}

#front-page{
  text-align: center;
}

#logo{
  padding-left: 40px;
}

.table{
  border: 10px;
  border-color: black;
  padding-left: 0px;
  display: table;
}


.links li{
  margin-left: 20px;
  border: 1px solid blue;
  border-radius:40px/24px;
  text-align: center;
  padding: 0px;
  display: inline;
}

.links li a{
  color: black;
  list-style-type: none;
  text-decoration: none;
}
